body {
  font: 30px;
  margin: 15px;
}

.square {
  background: #fff;
  margin-top: -1px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  text-align: center;
  line-height: 34px;
  width: 34px;
  border: 1px solid #999;
  margin-right: -1px;
}

.board-row:after {
  clear: both;
  display: table;
}

.game {
  display: flex;
}

.game-info {
  margin-left: 20px;
}

.square:focus {
  outline: none;
}